.backend-form{
    margin: 0 0 0 5%;
}

.backend-button{
    background-color: #D69869;
    color: white;
    font-size: 16px;
    border: #ac7339;
    padding: 1.2%;
    border-radius: 5%;
    width: 50%;
}

.backend-button:hover{
    background-color: #ce844b;
    color: white;
    text-decoration: none;
}

.backend-titulo{
    padding-bottom: 5%;
    color: #c68c53;
    text-align: center;
}

.backend-cores{
    padding-top: 1%;
    color: #151719;
}

.backend-view-padding{
    padding-top: 1%;
}

/*-------------Voltar------------------*/

.voltar-button{
    font-size: 30px;
    color: #D69869;
    padding-bottom: 2%;
}

/*---------------Criar-------------------------------------------*/


.backend-criar{
    background-color: #D69869;
    color: white;
    font-size: 16px;
    border: #ac7339;
    padding: 1.2%;
    border-radius: 5%;
    width: 15%;
}

.backend-criar:hover{
    background-color: #ce844b;
    color: white;
    text-decoration: none;
}


/*---------------Apagar------------------------------------------*/

.backend-apagar{
    background-color: #ff3333;
    color: white;
    font-size: 16px;
    border: #cc0000;
    padding: 1.2%;
    border-radius: 5%;
    width: 15%;
}

.backend-apagar:hover{
    background-color: #cc0000;
    color: white;
    text-decoration: none;
}


