i.fa{
    font-size: 200%;
    color: black;
}


.comentarios{
    font-size: 300%;
    color: #D69869;
    padding-top: 5%;
    text-align: center;
}

.line-comentarios{
    font-size: 200%;
    color: #D69869;
    text-align: center;
    line-height: 0.2;
    padding-bottom: 3%;
}

.star{
    direction: rtl;

    width: 100%;
    text-align: center;
}

.star i{
    font-size: 100px;
    color: grey;
    cursor: pointer;
    transition: 0.3s all;
}

.star i:hover{
    color: #ffdb4d;
}

.star1:hover ~ i{
    color: #ffdb4d;
}

.star2:hover ~ i{
    color: #ffdb4d;
}

.star3:hover ~ i{
    color: #ffdb4d;
}

.star4:hover ~ i{
    color: #ffdb4d;
}

.star5:hover ~ i{
    color: #ffdb4d;
}




.comentario-titulo{
    text-align: center;
    padding-top: 7%;
    font-size: 250%;
    font-variant: small-caps;
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 2%;
}

.comentario-center{
    text-align: center;
}

.comentarios-div{
    width: 38%;
    margin: 0 auto;

    color: #c68c53;
}

.btn-comentario {
    background-color: #D69869;
    color: white;
    font-size: 16px;
    border: #ac7339;
    padding: 2%;
    border-radius: 5%;
    width: 50%;
    text-align: center;
}

.btn-comentario:hover{
    background-color: #ce844b;
    color: white;
}