.contato{
    font-size: 300%;
    color: #c68c53;
    text-align: center;
    padding-top: 2%;
}

.map-contato{
    width: 60%;
    height: 350px;
}

.map-contato-div{
    text-align: center;
    padding-top: 2%;
}

.form-contato{
    width: 38%;
    margin: 0 auto;
    color: #c68c53;
}