.site-menu-bar{
    background-color: #D69869;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70%;

}


.site-menu-bar-li a{
    display: block;
    color: #fdf7f7;
    padding: 7%;
    text-decoration: none;
}

li a:hover {
    background-color: #ce844b;
    color: #fdf7f7;
}

.site-menu{
    max-width: 100%;
}

.site-menu-1{
    padding-top: 10%;
}

.titulo-menu{
    color: #D69869;
    font-size: 200%;
    text-align: center;
    padding-top: 4%;
}

.line{
    font-size: 200%;
    color: #D69869;
    text-align: center;
    line-height: 0.2;
    padding-bottom: 10%;
}

.site-menu-1{
    text-align: center;
    position: fixed;
    float:left;
}

.site-menu-2{
    float:right;
}

.site-menu-2-image{
    width: 232px;
    height: 232px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #cc9966;
}

.site-menu-2-titulo{
    font-size: 170%;
    color: #cc9966;
    text-align: center;
    padding: 10% 17% 0 17%;
    font-family: Courier New, monospace;
    word-wrap: break-word;
}

.line-grey{
    font-size: 200%;
    color: #a6a6a6;
    text-align: center;
    line-height: 0.2;
    padding-bottom: 4%;
}

.site-menu-2-paragrafo{
    font-size: 130%;
    color: #b3b3b3;
    text-align: center;


    font-family: "Times New Roman", Times, serif;
}

.site-menu-2-preco{
    font-size: 170%;
    color: grey;
    text-align: center;
    line-height: 1.8;
    font-family: "Times New Roman", Times, serif;

}

.site-menu-2-1{
    padding-bottom: 10%;
}