html,

.wrap {
    min-height: 100%;
    height: auto;
    /*margin: 0 auto -60px;
    padding: 0 0 60px;*/
}

.wrap > .container {
    padding: 50px 0px 20px;
}

.footer {
    background-color: #e6e6e6;
    padding-top: 4%;
    padding-bottom: 2%;
}

.inicio {
    text-align: center;
    margin-top: 50px;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.btn-reservar{
    background-color: #c68c53;
    border: none;
    color: white;
    padding: 11px 80px;
    text-align: center;
    display: inline-block;
    font-size: 16px;

}

.btn-reservar:hover{
    background-color: #ac7339;
    color: white;
}

.btn-reservar-white{
    background-color: white;
    border: 1px solid black;
    color: gray;
    padding: 11px 80px;
    display: inline-block;
    font-size: 16px;

}

.btn-reservar-date{
    background-color: white;
    border: 1px solid black;
    color: gray;
    padding: 9px 48px;
    display: inline-block;
    font-size: 16px;
}

.col-spaced{
    margin-left: 15px;
}

.informacao{
    text-align: center;
    background-color: #c68c53;
    padding-top: 10px;
    padding-bottom: 1px;
}

.titulo{
    color: white;
    font-size: 1100%;
    font-variant: small-caps;
    font-family: Brush Script MT;
}

.descricao{
    color: white;
    font-size: 170%;
}

.space-image{
    font-size: 220%;
}

.space{
    color: white;
}

.inicio-1{
    text-align: center;
    margin-top: 50px;
    background-color: white;
}

.titulo-1{
    color: #262626;
    font-size: 550%;
    font-variant: small-caps;
    font-family: Brush Script MT;
}

.paragrafo-1{
    color: grey;
    text-align: center;
    line-height: 1.8;
    padding: 70px 25% 20px;

}

.btn-reservar{
    background-color: #c68c53;
    border: none;
    color: white;
    padding: 11px 80px;
    text-align: center;
    display: inline-block;
    font-size: 16px;

}

.btn-ver-menu{
    background-color: #c68c53;
    border: none;
    color: white;
    padding: 0.7% 2%;
    text-align: center;
    display: inline-block;
    font-size: 95%;

}

.inicio-2-1{
    background-color: #c68c53;
    text-align: center;
    padding-bottom: 8.5%;
}

.inicio-2-2{
    background-image: url("../img/mistura_comida.jpg");
    background-size: cover;
    padding-bottom: 28.6%;
}

.titulo-2-1{
    color: white;
    font-size: 680%;
    padding: 70px 22% 20px;
    line-height: 1.0;
    font-family: Brush Script MT;
}

.titulo-2-1-horario{
    color: #262626;
    line-height: 0.1;
}

.inicio-3{
    background-color: white;
    text-align: center;
}

.titulo-3{
    color: #262626;
    font-size: 650%;
    margin-top: 10%;
    line-height: 0.9;
    font-family: Brush Script MT;
}

.paragrafo-3{
    color: grey;
}

.email-3{
    background-color: #e6e6e6;
    border: gray;
    color: gray;
    padding: 8px 80px;
    font-size: 16px;
    margin-top: 7%;
}

.botao-email-3{
    background-color: #c68c53;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 12%;
}

.map{
    width:100%;
    height:350px;
}

.footer-site-1{
    text-align: center;
}

.footer-titulo{
    font-size: 850%;
    font-variant: small-caps;
    font-family: Brush Script MT;
    line-height: 0.9;
}

.footer-descricao{
    color: #262626;
    font-size: 80%;
}

.footer-site-2{
    text-align: center;

}

