 html,

.wrap {
    min-height: 100%;
    height: auto;
    /*margin: 0 auto -60px;
    padding: 0 0 60px;*/
}

.wrap > .container {
    padding: 50px 0px 20px;
}

.footer {
    background-color: #e6e6e6;
    padding-top: 4%;
    padding-bottom: 2%;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

i.fa{
     font-size: 200%;
     color: black;
  }

select{
    font-family: fontAwesome;
}


 /*--------------------------------------------------------------------------------------------------------------------*/
 /*Header*/

 .header-border{
     background-color: white;
     border-color: white;
 }

 .header-items-1{
     color: black;
 }


 /*--------------------------------------------------------------------------------------------------------------------*/
 /*Inicio*/

 .datepickerCSS{
     border-radius: 0;
     border: 1px solid black;
     height: 43px;
     cursor: pointer;
 }

 .inicio {
     text-align: center;
     margin-top: 50px;
     background-image: url("../img/background.jpg");
     background-size: cover;
     background-attachment: fixed;
 }

 .person{
     width: 100%;
 }

 .btn-reservar{
    background-color: #c68c53;
    border: none;
    color: white;
    padding: 11px 80px;
    text-align: center;
    display: inline-block;
    font-size: 16px;

}

.btn-reservar:hover{
    background-color: #ac7339;
    color: white;
}

.btn-reservar-npessoas{
    background-color: white;
    border: 1px solid black;
    color: gray;
    padding: 11px 80px;
    display: inline-block;
    font-size: 16px;
    width: 25%;
}

.btn-reservar-datepicker{
    width: 30%;
    height: 30%;
}

.col-spaced{
    margin-left: 15px;
}

.informacao{
    text-align: center;
    background-color: #c68c53;
    padding-top: 10px;
    padding-bottom: 1px;
    color: #404040;
}

.titulo{
    color: white;
    font-size: 1100%;
    font-variant: small-caps;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.descricao{
    color: white;
    font-size: 170%;
}

.space-image{
    font-size: 220%;
}

.space{
    color: white;
}

.inicio-1{
    text-align: center;
    margin-top: 50px;
    background-color: white;
}

.titulo-1{
    color: #262626;
    font-size: 550%;
    font-variant: small-caps;
    font-family: "Times New Roman", Times, serif;
}

.paragrafo-1{
    color: grey;
    text-align: center;
    line-height: 1.8;
    padding: 70px 25% 20px;

}

.reservas{
    text-align: center;
}

.btn-reservar{
    background-color: #c68c53;
    border: none;
    color: white;
    padding: 11px 80px;
    text-align: center;
    display: inline-block;
    font-size: 16px;

}

.btn-ver-menu{
    background-color: #c68c53;
    border: none;
    color: white;
    padding: 0.7% 2%;
    text-align: center;
    display: inline-block;
    font-size: 95%;

}

.inicio-2-1{
    background-color: #c68c53;
    text-align: center;
    padding-bottom: 8.5%;
}

.inicio-2-2{
    background-image: url("../img/mistura_comida.jpg");
    background-size: cover;
    padding-bottom: 28.6%;
}

.titulo-2-1{
    color: white;
    font-size: 680%;
    padding: 70px 22% 20px;
    line-height: 1.0;
    font-family: "Times New Roman", Times, serif;
}

.titulo-2-1-horario{
    color: #262626;
    line-height: 0.1;
}

.map{
    width:100%;
    height:350px;
}

.footer-site-1{
    text-align: center;
}

.footer-titulo{
    font-size: 850%;
    font-variant: small-caps;
    font-family: Brush Script MT, Brush Script Std, cursive;
    line-height: 0.9;
}

.footer-descricao{
    color: #262626;
    font-size: 80%;
}

.footer-site-2{
    text-align: center;

}

/*--------------------------------------------------------------------------------------------------------------------*/
/*Menu*/

.site-menu-bar{
    background-color: #c68c53;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70%;

}

.site-menu-bar-li a{
    display: block;
    color: #fdf7f7;
    padding: 7%;
    text-decoration: none;
}

li a:hover {
    background-color: #ac7339;
    color: #fdf7f7;
}

.site-menu{
    max-width: 100%;
}

.site-menu-1{
    padding-top: 10%;
}

.titulo-menu{
    color: #c68c53;
    font-size: 200%;
    text-align: center;
    padding-top: 4%;
}

.line{
    font-size: 200%;
    color: #c68c53;
    text-align: center;
    line-height: 0.2;
    padding-bottom: 4%;
}

.site-menu-1{
    text-align: center;
    position: fixed;
    float:left;
}

.site-menu-2{
    float:right;
}

.site-menu-2-image{
    width: 232px;
    height: 232px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.site-menu-2-titulo{
    font-size: 170%;
    color: #cc9966;
    text-align: center;
    padding: 10% 17% 0;
    font-family: Courier New, monospace;
}

.line-grey{
    font-size: 200%;
    color: #a6a6a6;
    text-align: center;
    line-height: 0.2;
    padding-bottom: 4%;
}

.site-menu-2-paragrafo{
    font-size: 130%;
    color: #b3b3b3;
    text-align: center;
    line-height: 1.8;
    padding: 3% 17% 3%;
    font-family: "Times New Roman", Times, serif;
}

.site-menu-2-preco{
    font-size: 170%;
    color: grey;
    text-align: center;
    line-height: 1.8;
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 30%;
}



/*--------------------------------------------------------------------------------------------------------------------*/
/*Login e Registo*/

.site-login{
    background-image: url("../img/login-background.jpg");
    background-size: cover;
}

 .parent:hover .site-login,
 .parent:focus .site-login {
     transform: scale(1.2);
 }

.login-iniciar{
    font-size: 300%;
    color: #c68c53;
    text-align: center;
    padding-top: 12%;
}

.form-login{
    width: 38%;
    margin: 0 auto;
    color: #c68c53;
    padding: 1% 0 5%;
}

.forgot-password{
    color:#999;
    margin:1em 0;
}

.login{
    padding: 10% 0 2%;
    text-align: center;
}
.login-button{
    background-color: #c68c53;
    color: white;
    font-size: 16px;
    border: #ac7339;
    padding: 2%;
    border-radius: 5%;
    width: 50%;
}

.login-button:hover{
    background-color: #ac7339;
    color: white;
}

 /*--------------------------------------------------------------------------------------------------------------------*/
 /*Contacto*/

 .contato{
     font-size: 300%;
     color: #c68c53;
     text-align: center;
     padding-top: 2%;
 }

 .map-contato{
     width: 60%;
     height: 350px;
 }

 .map-contato-div{
     text-align: center;
     padding-top: 2%;
 }

 .form-contato{
     width: 38%;
     margin: 0 auto;
     color: #c68c53;
 }

 /*--------------------------------------------------------------------------------------------------------------------*/
 /* Request Password*/

 .request-password-titulo{
     font-size: 300%;
     color: #c68c53;
     padding-top: 3%;
 }
 .site-request-password-reset{
     text-align: center;
 }

 .form-reset{
     width: 38%;
     margin: 0 auto;
     color: #c68c53;
 }

 .request-password-descricao{
     color: #a6a6a6;
     padding-bottom: 2%;
 }

 /*--------------------------------------------------------------------------------------------------------------------*/
 /* Comments */

 .comentarios{
     font-size: 300%;
     color: #c68c53;
     padding-top: 2%;
     text-align: center;
 }

 .star{
     transform: translate(-50%, -50%);
     direction: rtl;
     padding-top: 5%;
     display: inline-block;
     width: 100%;

 }

 i{
     display: inline-block;
     text-align: center;
 }
 .star i{
     font-size: 100px;
     color: grey;
     cursor: pointer;
     transition: 0.3s all;
 }

 .star i:hover{
     color: #ffdb4d;
 }

 .star1:hover ~ i{
     color: #ffdb4d;
 }

 .star2:hover ~ i{
     color: #ffdb4d;
 }

 .star3:hover ~ i{
     color: #ffdb4d;
 }

 .star4:hover ~ i{
     color: #ffdb4d;
 }

 .star5:hover ~ i{
     color: #ffdb4d;
 }
